<!--div *ngIf="movies">
  <h3 class="orange-text">{{title}}</h3>
  
  <div class="row is-flex">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of movies ; let i = index;">
       
      <movie-card [movie]="movie"></movie-card>
    </div>
  </div>
</div-->

  <div class="pull-right">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for movies..." [(ngModel)]="searchStr" name="searchStr" (keyup.enter)="searchMovies()">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="searchMovies()">Go!</button>
          </span>
        </div>
        <!-- /input-group -->
      </div>
    </form>
  </div>
  
  <div *ngIf="searchRes">
    <h3 class="orange-text">Search Results</h3>
    <div class="row is-flex">
      <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of searchRes; let i = index;">
        <movie-card [movie]="movie" type="movie">></movie-card>
      </div>
    </div>
  </div>


<div *ngIf="movies">
    <h3 class="orange-text">{{title}}</h3>
    <div class="row is-flex">
        
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of movies ; let i = index;"><movie-card [movie]="movie"></movie-card></div>

            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>

    
